@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    word-break: break-word;
  }
  *[class*="hover:"] {
    transition: color 0.4s, background-color 0.4s, left 0.4s, opacity 0.4s,
      background-image 0.4s, transform 0.4s;
  }
  *:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  body {
    @apply font-normal max-w-[2200px] mx-auto;
  }
  .nav-active::before {
    content: "";
    position: absolute;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    height: 2px;
    background-color: white;
    bottom: -4px;
    background: #1074d0;
  }
  .card-shadow {
    box-shadow: 0px 3.59302px 35.93024px 0px rgba(0, 0, 0, 0.12);
  }
}
